USE [Hotel Management System]
GO
/****** Object:  Table [dbo].[FoodMenu]    Script Date: 12/24/2019 3:55:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodMenu](
	[Select_Options] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
